<div class="blockcode" style="background-color: #132226;">
    <div class="header"></div>
    <footer class="page-footer shadow">
      <div class="d-flex flex-column mx-auto py-5" style="width: 50%">
        <div class="d-flex flex-wrap justify-content-between">
          <div>
            <a href="/#" class="d-flex align-items-center p-0 text-dark">
              <img alt="logo" src="assets/imagenes/logo-.ico" width="30px" />
              <span class="ms-3 h5 font-weight-bold" style="color:burlywood;">TicketSphere</span>
            </a>
            <p class="my-3" style="width: 250px" style="color: chocolate;">
                Somos una plataforma dedicada a simplificar la búsqueda y reserva de boletos para eventos en todo el mundo.
                 Ya sea que estés planeando asistir a un concierto, un evento deportivo, un festival o cualquier otro evento social,
                  estamos aquí para ayudarte a encontrar el lugar perfecto.
            </p>
          </div>
        </div>
        <div class="text-center mt-4">
          <div class="mb-4">
            <button class="btn btn-dark btn-flat p-2">
              <i class="fa fa-facebook"></i>
            </button>
            <button class="btn btn-dark btn-flat p-2">
              <i class="fa fa-twitter"></i>
            </button>
            <button class="btn btn-dark btn-flat p-2">
              <i class="fa fa-instagram"></i>
            </button>
          </div>
          <small style="color: darkolivegreen;">&copy; Ticket Sphere, 2012. All rights reserved.</small>
        </div>
      </div>
    </footer>
  </div>