





<div class="charts-container">
    <iframe
      class="chart"
      src="https://charts.mongodb.com/charts-project-0-xigmbvi/embed/charts?id=66670763-d015-41f3-899e-4e6eb56ab131&maxDataAge=3600&theme=light&autoRefresh=true">
    </iframe>
  
    <iframe
      class="chart"
      src="https://charts.mongodb.com/charts-project-0-xigmbvi/embed/charts?id=66665f57-d1c0-44c9-8ab5-33d126dcf314&maxDataAge=3600&theme=light&autoRefresh=true">
    </iframe>
  
    <iframe
      class="chart"
      src="https://charts.mongodb.com/charts-project-0-xigmbvi/embed/charts?id=66666018-d1c0-4fd3-8198-33d126ebe168&maxDataAge=3600&theme=light&autoRefresh=true">
    </iframe>
  
    <iframe
      class="chart"
      src="https://charts.mongodb.com/charts-project-0-xigmbvi/embed/charts?id=666707f6-243a-4605-80a5-044d10b99200&maxDataAge=3600&theme=light&autoRefresh=true">
    </iframe>
  </div>
  