<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de Lugares</title>
  <style>
    table {
      border-collapse: collapse;
      width: calc(100% - 30px); /* Ajusta el ancho de la tabla para considerar el espacio de 15px a cada lado */
      margin: 15px; /* Añade espacio de 15px entre la tabla y los bordes */
      border: 2px solid black;
    }

    th, td {
      text-align: center;
      padding: 8px;
      border: 1px solid black;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <div>
    <h2 style="text-align: center;">Lista de Lugares</h2>
    <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Capacidad</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lugar of lugares;">
      <td>{{ lugar.lugar_id }}</td>
      <td>{{ lugar.nombre }}</td>
      <td>{{ lugar.direccion }}</td>
      <td>{{ lugar.capacidad }}</td>
      <td>{{ lugar.descripcion }}</td>
    </tr>
  </tbody>
</table>

  </div>
  
  
</body>
</html>

