
<div class="content">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-top: 5pt;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/imagenes/11.webp" class="d-block w-100" style="height: 600px;" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h4 style="font-weight: bold; letter-spacing: 1px; border-radius: 5px; background-color: rgb(230, 200, 154); color: rgb(116, 110, 110); padding: 1px 1px; display: inline-block;">Conciertos</h4>

            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/12.jpg" class="d-block w-100" style="height: 600px;" alt="second slide">
            <div class="carousel-caption d-none d-md-block" style="color: rgb(255, 255, 255);">  
              <h4 style="font-weight: bold; letter-spacing: 1px; border-radius: 5px; background-color: rgb(230, 200, 154); color: rgb(116, 110, 110); padding: 1px 1px; display: inline-block;">Festivales</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/eventosdep.jpg" class="d-block w-100" style="height: 600px;" alt="third slide">
            <div class="carousel-caption d-none d-md-block">
              <h4 style="font-weight: bold; letter-spacing: 1px; border-radius: 5px; background-color: rgb(230, 200, 154); color: rgb(116, 110, 110); padding: 1px 1px; display: inline-block;">Eventos Deportivos</h4>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <br>
      <br>
      <br>
      <!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://www.eluniversal.com.mx/resizer/M6_jJUrJ4XJXM7Q9Bsv06DnYQP8=/1100x666/cloudfront-us-east-1.images.arcpublishing.com/eluniversal/IBM3R6Q7GJAX7K6SGAK2V5CA6I.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="https://www.infobae.com/new-resizer/ijqaIlG3K_EpqIAijKCoq2_17Zw=/992x661/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/3FYQSTIB75D5NGI3Y74KGHNOII.png "
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://www.jornada.com.mx/ndjsimg/images/jornada/jornadaimg/se-entrega-luis-miguel-a-su-publico-en-la-arena-cdmx-7255/se-entrega-luis-miguel-a-su-publico-en-la-arena-cdmx-7255html-luis-migueljpeg-1378html-1edb769e-7127-4b7b-a5c5-10330f0d228a.jpegljnimgndimage=fullsize"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="https://www.24-horas.mx/wp-content/uploads/2024/04/Diseno-sin-titulo-2024-04-10T160855.954.png?w=1200"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://www.arenavfg.mx/wp-content/uploads/2019/08/Arena-VFG-Escenario-Pantalla.jpg" 
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="https://www.eluniversal.com.mx/resizer/7R4hDec4THStdUODmXLaqUTdxMs=/1100x666/cloudfront-us-east-1.images.arcpublishing.com/eluniversal/VQBRETABBFH53PG42KZP2YSRIA.jpg" 
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->
 <br>
 
 <span class="placeholder col-12" style="background-color:olive;"></span>

 <br>
 <br>
 <br>
 <br>

 <div class="card" style="width: 300pt; padding: 10px; border-radius: 8px; background-color: #29464e; margin: 0 auto;" >
  <div class="card-body">
    <h5 class="card-title" style="margin-right: 20pt; color:#f1e8e8;">TicketSphere</h5>
    <p class="card-text" style="color: #f1e8e8;">Somos una innovadora empresa dedicada a la organización de eventos que permite a
       los usuarios reservar boletos en diferentes lugares del mundo.</p>
  </div>
</div>

<br>
<br>
<br>


<br>
<br>
<br>
<br>

<div class="row" style="gap: 50pt;">
  <div class="card" style="width: 18rem;">
    <img src="https://www.somoselmedio.com/wp-content/uploads/2024/04/WhatsApp-Image-2024-04-21-at-7.47.48-AM-1.jpeg" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">Concierto en vivo, el cual conto con la capacidad maxima de usuarios.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://s2.abcstatics.com/media/bienestar/2022/06/09/noches-botanico-kBWH--1248x698@abc.jpg" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">Evento al aire libre en Chicago, una tarde tranquila con un hermoso atardecer.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://enterarse.com/wp-content/uploads/2023/03/img-1984-07-28t000000z_1_mt1aci3474159_rtrmadp_3_sport-20191112135204_1200.webp" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">Gran evento deportivo, poder disfrutar una tarde llena de aventuras.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.deutschland.de/sites/default/files/media/image/tdt_31072023_kultur_festivals_wacken-open-air.jpg" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <p class="card-text">Festival en un dia divertido, el poder pasar toda una tarde sin estrés, cantando y disfrutando.</p>
    </div>
  </div>
</div>

<section style="background-color: #f3f1f1;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <!-- Card 1 -->
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-black" style="background-color: rgb(73, 94, 104);">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2023/09/06/16940101261589.jpg" class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">The Rolling Stones</h5>
              <p class="text-muted mb-4">Concierto</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Fecha: </span><span>20 de junio del 2024.</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Hora: </span><span>20:00pm</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Capacidad:</span><span>400 personas</span>
              </div>
              <div>
                <span>Lugar:</span><span>Arena Monterrey</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Solo en:</span><span>Ticket Master</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Boleto(VIP):</span><span>$10,197.00</span>
            </div>
            <br>
            <div>
              <a href="https://www.ticketmaster.com" target="_blank">
                <button type="button" class="btn btn-light btn-rounded" data-mdb-ripple-init style="margin-left: 50pt;">Comprar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-black" style="background-color: rgb(73, 94, 104);">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="https://images.ecestaticos.com/1n8yNGPOG60rrgy9pbgRMtNls2A=/135x8:2152x1514/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F906%2Fa1a%2F498%2F906a1a49814f8fad9e920d0622380882.jpg" class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">AC/DC</h5>
              <p class="text-muted mb-4">Concierto</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Fecha: </span><span>28 de junio del 2024.</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Hora: </span><span>21:00pm</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Capacidad:</span><span>400 personas</span>
              </div>
              <div>
                <span>Lugar:</span><span>Arena CDMX</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Solo en:</span><span>Ticket Master</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Boleto(VIP):</span><span>$12,658.00</span>
            </div>
            <br>
            <div>
              <a href="https://www.ticketmaster.com" target="_blank">
                <button type="button" class="btn btn-light btn-rounded" data-mdb-ripple-init style="margin-left: 50pt;">Comprar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-black" style="background-color: rgb(73, 94, 104);">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="https://imagenes.elpais.com/resizer/v2/5IVSQSEC6NEKZDAMTPSL6GL7XM.jpg?auth=1e26bc1dbce920b85ab84e960ce49edf2826b5f32ea48081429d4c9653b8feb8&amp;width=1200" class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Metallica</h5>
              <p class="text-muted mb-4">Concierto</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Fecha: </span><span>01 de julio del 2024.</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Hora: </span><span>19:00pm</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Capacidad:</span><span>400 personas</span>
              </div>
              <div>
                <span>Lugar:</span><span>Arena Guadalajara</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Solo en:</span><span>Ticket Master</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Boleto(VIP):</span><span>$16,153.00</span>
            </div>
            <br>
            <div>
              <a href="https://www.ticketmaster.com" target="_blank">
                <button type="button" class="btn btn-light btn-rounded" data-mdb-ripple-init style="margin-left: 50pt;">Comprar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-black" style="background-color: rgb(73, 94, 104);">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisaradiolos40/DH4NJE3OLFO3DPFOBWSAKCLOTA.jpg" class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Pink Floyd</h5>
              <p class="text-muted mb-4">Concierto</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Fecha: </span><span>10 de julio del 2024.</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Hora: </span><span>18:00pm</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Capacidad:</span><span>400 personas</span>
              </div>
              <div>
                <span>Lugar:</span><span>Arena CDMX</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Solo en:</span><span>Ticket Master</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Boleto(VIP):</span><span>$8,210.00</span>
            </div>
            <br>
            <div>
              <a href="https://www.ticketmaster.com" target="_blank">
                <button type="button" class="btn btn-light btn-rounded" data-mdb-ripple-init style="margin-left: 50pt;">Comprar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<section style="background-color: #f3f1f1;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <!-- Card 1 -->
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-black" style="background-color: rgb(73, 94, 104);">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="https://www.laxcali.com/uploads/newsarticle/98d65be851db4a058558a66cc2b0a59c/thumb-1920-792478.jpg" class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Aerosmith</h5>
              <p class="text-muted mb-4">Concierto</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Fecha: </span><span>22 de julio del 2024.</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Hora: </span><span>22:00pm</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Capacidad:</span><span>400 personas</span>
              </div>
              <div>
                <span>Lugar:</span><span>Arena Monterrey</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Solo en:</span><span>Ticket Master</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Boleto(VIP):</span><span>$18,698.00</span>
            </div>
            <br>
            <div>
              <a href="https://www.ticketmaster.com" target="_blank">
                <button type="button" class="btn btn-light btn-rounded" data-mdb-ripple-init style="margin-left: 50pt;">Comprar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-black" style="background-color: rgb(73, 94, 104);">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="https://fmrockandpop.com/media/k2/items/cache/f8502e9d6ff6bc8314ebcb02fc55c4d4_L.webp" class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Mötley Crüe</h5>
              <p class="text-muted mb-4">Concierto</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Fecha: </span><span>28 de julio del 2024.</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Hora: </span><span>20:00pm</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Capacidad:</span><span>400 personas</span>
              </div>
              <div>
                <span>Lugar:</span><span>Arena Monterrey</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Solo en:</span><span>Ticket Master</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Boleto(VIP):</span><span>$16,359.00</span>
            </div>
            <br>
            <div>
              <a href="https://www.ticketmaster.com" target="_blank">
                <button type="button" class="btn btn-light btn-rounded" data-mdb-ripple-init style="margin-left: 50pt;">Comprar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-black" style="background-color: rgb(73, 94, 104);">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="https://media.revistagq.com/photos/6163e1611229a195bf274d80/16:9/w_2560%2Cc_limit/GettyImages-1039403722.jpg" class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Lenny Kravitz</h5>
              <p class="text-muted mb-4">Concierto</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Fecha: </span><span>02 de agosto del 2024.</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Hora: </span><span>23:00pm</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Capacidad:</span><span>400 personas</span>
              </div>
              <div>
                <span>Lugar:</span><span>Arena CDMX</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Solo en:</span><span>Ticket Master</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Boleto(VIP):</span><span>$20,012.00</span>
            </div>
            <br>
            <div>
              <a href="https://www.ticketmaster.com" target="_blank">
                <button type="button" class="btn btn-light btn-rounded" data-mdb-ripple-init style="margin-left: 50pt;">Comprar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card text-black" style="background-color: rgb(73, 94, 104);">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="https://estaticos-cdn.prensaiberica.es/clip/acda2caf-3860-4beb-a4e4-fc49db2a38f5_16-9-discover-aspect-ratio_default_0.jpg" class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Scorpions</h5>
              <p class="text-muted mb-4">Concierto</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Fecha: </span><span>12 de agosto del 2024.</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Hora: </span><span>22:00pm</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Capacidad: </span><span>400 personas</span>
              </div>
              <div>
                <span>Lugar: </span><span>Arena Monterrey</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Solo en: </span><span>Ticket Master</span>
              </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Boleto(VIP): </span><span>$14,642.00</span>
            </div>
            <br>
            <div>
              <a href="https://www.ticketmaster.com" target="_blank">
                <button type="button" class="btn btn-light btn-rounded" data-mdb-ripple-init style="margin-left: 50pt;">Comprar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</div>