<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de Boletos</title>
  <style>
    table {
      border-collapse: collapse;
      width: calc(100% - 30px); /* Ajusta el ancho de la tabla para considerar el espacio de 15px a cada lado */
      margin: 15px; /* Añade espacio de 15px entre la tabla y los bordes */
      border: 2px solid black;
    }

    th, td {
      text-align: center;
      padding: 8px;
      border: 1px solid black;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID de Boleto</th>
        <th>ID de Evento</th>
        <th>Tipo de Boleto</th>
        <th>Precio</th>
        <th>Cantidad Disponible</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let boleto of boletos">
        <td>{{ boleto.boleto_id }}</td>
        <td>{{ boleto.evento_id }}</td>
        <td>{{ boleto.tipo_boleto }}</td>
        <td>{{ boleto.precio }}</td>
        <td>{{ boleto.cantidad_disponible }}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>

