<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de Eventos</title>
  <style>
    table {
      border-collapse: collapse;
      width: calc(100% - 30px); /* Ajusta el ancho de la tabla para considerar el espacio de 15px a cada lado */
      margin: 15px; /* Añade espacio de 15px entre la tabla y los bordes */
      border: 2px solid black;
    }

    th, td {
      text-align: center;
      padding: 8px;
      border: 1px solid black;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha del Evento</th>
        <th>ID del Lugar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventos">
        <td>{{ evento.evento_id }}</td>
        <td>{{ evento.nombre }}</td>
        <td>{{ evento.descripcion }}</td>
        <td>{{ evento.fecha_evento }}</td>
        <td>{{ evento.lugar_id }}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
